

  <style>
    .cropArea {
      background: #E4E4E4;
      /*overflow: hidden;*/
      width:500px;
      height:300px;
    }


  </style>



<div layout="row" layout-align="center">
<!-- Preview of what is seen on apply site -->
<!--<md-card  flex="100" flex-gt-xs="50"  flex-gt-sm="30">
     <img ng-src="{{public.banner_1080}}" ng-if="public.banner_1080" alt="{{public.name}}" style="    height: initial !important;" >
     <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> {{public.name}}</span>
              <span class="md-subhead">
                {{public.start_date | date :'MMM d, y' }} - {{public.end_date | date :'MMM d, y'}}<br>
              {{$ctrl.location.meta.location}}<br>
           Application Fee: {{public.app_fee}}<br>
           Lecture Phase: {{public.school_fee}}<br>
           Outreach: {{public.outreach_fee}}<br>
             </span>
          </md-card-title-text>
         
        </md-card-title>
        <md-card-content>
         
            
     
         
        </md-card-content>
         <md-card-actions layout="row" layout-align="end center">
  
          <md-button ng-click="$ctrl.applyNow(public.id)">Apply Now</md-button>
         
        </md-card-actions>
   </md-card>-->

</div>





<div layout="row" layout-align="center">
<div  flex-gt-md="60" flex layout="column">








<md-card>
<md-card-content >

<h1 class="md-title">School Info (Public)</h1>

<md-switch ng-model="public.online"> Online for applications</md-switch>


<div layout="row">
<md-input-container flex>
<label>School Name</label>
<input ng-model="public.name">
</md-input-container>

<md-input-container flex>
<label>School Acronym</label>
<!--<md-select ng-model="$ctrl.school.acronym">
<md-option  ng-repeat="acr in $ctrl.acronyms" value="{{acr}}">{{acr}} </md-option>
</md-select>-->

<input  ng-model="public.acronym"> 
</md-input-container>
</div>

<!--<md-input-container flex>
<label>School Location </label>
<md-select ng-model="public.location_id">
<md-option  ng-repeat="loc in $ctrl.locations" value="{{loc.id}}">{{loc.name}} </md-option>
</md-select>
</md-input-container>-->

<div layout="row">
<md-input-container flex>
<label>School Website (full url) </label>
<input ng-model="public.website">
</md-input-container>
<md-input-container flex>
<label>School Email </label>
<input ng-model="public.email">
</md-input-container>
</div>


</md-card-content>
</md-card>

<md-card>
<md-card-content >
<h1 class="md-title">School Dates</h1>

<div layout="row">
<span flex></span>
<md-input-container flex>  
 <label> School Start Date:</label>
 <datepicker  date-format=" yyyy-MM-dd ">
  <input ng-model="public.start_date" type="text"/>
</datepicker>
</md-input-container>

<md-input-container flex>  
<label> School End Date: </label>
 <datepicker date-format=" yyyy-MM-dd ">
<input ng-model="public.end_date"  type="text">
 </datepicker>
</md-input-container>

</div>

<div layout="row" layout-align="center center">
  <md-checkbox flex ng-model="public.mini_outreach" ng-change="$ctrl.toggle_mini_outreach()">Mini Outreach?</md-checkbox>

<md-input-container flex>
<label> Mini Outreach Start Date:</label>
<datepicker date-format=" yyyy-MM-dd ">
<input ng-model="public.mini_outreach_start_date"  type="text" ng-disabled="!public.mini_outreach">
</datepicker>
</md-input-container>

<md-input-container flex>
  <label>Mini Outreach End Date:</label>
<datepicker date-format=" yyyy-MM-dd ">
<input ng-model="public.mini_outreach_end_date"  type="text" ng-disabled="!public.mini_outreach">
</datepicker>
</md-input-container>

</div>


<div layout="row" layout-align="center center">
  <md-checkbox flex ng-model="public.outreach" ng-change="$ctrl.toggle_outreach()">Outreach?</md-checkbox>

<md-input-container flex >
  <label> Outreach Start Date:</label>
  <datepicker date-format=" yyyy-MM-dd ">
<input ng-model="public.outreach_start_date"  type="text" ng-disabled="!public.outreach">
  </datepicker>
</md-input-container>

<md-input-container flex>
  <label>Outreach End Date:</label>
  <datepicker date-format=" yyyy-MM-dd ">
<input ng-model="public.outreach_end_date"  type="text" ng-disabled="!public.outreach">
  </datepicker>
</md-input-container>

</div>





</md-card-content>
</md-card>


<md-card>
<md-card-content>
<h1 class="md-title">School Costs</h1>

<div layout="row">
<md-input-container flex>
<label>Currency </label>
<md-select ng-model="public.currency">
<md-option  ng-repeat="item in $ctrl.currencies" value="{{item}}">{{item}} </md-option>
</md-select>
</md-input-container>

<div flex>
<md-input-container flex>
<label>Application Fee </label>
<input ng-model="public.app_fee">
</md-input-container>

<md-input-container flex>
<label>School Fee </label>
<input ng-model="public.school_fee">
</md-input-container>

<md-input-container flex>
<label>Mini Outreach Fee </label>
<input ng-model="public.mini_outreach_fee" ng-disabled="!public.mini_outreach">
</md-input-container>

<md-input-container flex>
<label>Outreach Fee </label>
<input ng-model="public.outreach_fee" ng-disabled="!public.outreach">
</md-input-container>
</div>
</div>
</md-card-content>
</md-card>

<md-card>
      <md-progress-linear md-mode="{{$ctrl.upload_progress < 10 && $ctrl.upload_progress  ? 'indeterminate': 'determinate'}}" value="{{$ctrl.upload_progress}}"></md-progress-linear>

	<md-card-content layout="row">	
	<div flex-gt-md>
	<h1 class="md-title">School Banner<br>
	<small> 16:9 aspect ratio</small> </h1>

	<input id="fileInput" name="file" type="file" class="ng-hide" multiple>

	 <md-button class="md-raised md-primary">
	        <label for="fileInput">Choose File</label>  
	 </md-button>
	 <input type="file" id="fileInput" class="ng-hide" />
	  <md-button ng-click="$ctrl.savePhoto()" >Upload</md-button>
	 </div>
	 <div flex-gt-md="50">

	  <div  class="cropArea">
	   <img-crop 
        image="$ctrl.myImage" 
        result-blob="$ctrl.myCroppedImage"
        result-image=""
        area-min-size="200"
        result-image-quality="1"
        result-image-size="{w:1600,h:900}"
        result-image-format="image/jpeg"
        area-type="rectangle"
        aspect-ratio="1.77"></img-crop>
	  </div>
	</div>
	</md-card-content>
</md-card>




 <!--<img ng-src="{{public.banner_200}}" >
  <img ng-src="{{public.banner_80}}" >-->

  </div>  </div>