<md-card>

    <md-toolbar class="md-hue-2">
        <div layout="row" layout-align="start center">

            <div class="md-toolbar-tools">
                <h2>Reference {{$ctrl.id }} ({{$ctrl.reference.user_set.relation}})</h2>&nbsp;
                <ref-status key="$ctrl.key" date="true" ></ref-status>  
            </div>             

            <div flex></div>

            <md-menu>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu()">
                    <md-icon md-svg-icon="img/icons/edit_white.svg"></md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.editRefernceRequestDialog()">edit Reference/resend Email</md-button>
                    </md-menu-item>
                    
                </md-menu-content>
            </md-menu> 
            
        </div>
    </md-toolbar>
    
    
    <md-card-content>
        
      {{$ctrl.reference.form}}
        <!--{{$ctrl.reference.user_set}}-->

         
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">Name:</span>
            <br>
            {{$ctrl.reference.user_set.name}}
        </p>
        
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">Phone:</span>
            <br>
            {{$ctrl.reference.form.phone}}
        </p>
        
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">Language:</span>
            <br>
            {{$ctrl.reference.user_set.language}}
        </p>
        
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">Email:</span>
            <br>
            {{$ctrl.reference.user_set.email}}
        </p>
        
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">Relationship to Applicant:</span>
            <br>
            {{$ctrl.reference.form.relation}}
        </p>
        
        <p ng-if="$ctrl.reference.form.how_well">
            <span class="question">How well does reference know Applicant?:</span>
            <br>
            {{$ctrl.reference.form.how_well}}
        </p>

        <p ng-if="$ctrl.reference.form.christian">
            <span class="question">Does Reference think applicant is Christian?:</span>
            <br>
            {{$ctrl.reference.form.christian}}
        </p>

        <p ng-if="$ctrl.reference.form.family">
            <span class="question">Family Relations:</span>
            <br>
            {{$ctrl.reference.form.family}}
        </p>

        <p ng-if="$ctrl.reference.form.conflict">
            <span class="question">Response to conflict?:</span>
            <br>
            {{$ctrl.reference.form.conflict}}
        </p>

        <p ng-if="$ctrl.reference.form.church_life">
            <span class="question">Involvement with Church:</span>
            <br>
            {{$ctrl.reference.form.church_life}}
        </p>        

        <p ng-if="$ctrl.reference.form.strengths">
            <span class="question">Strengths:</span>
            <br>
            {{$ctrl.reference.form.strengths}}
        </p>
        
        <p ng-if="$ctrl.reference.form.weakness">
            <span class="question">Weaknesses:</span>
            <br>
            {{$ctrl.reference.form.weakness}}
        </p>

        <p ng-if="$ctrl.reference.form.other">
            <span class="question">Other Notes:</span>
            <br>
            {{$ctrl.reference.form.other}}
        </p>

        <p ng-if="$ctrl.reference.form.encouragement">
            <span class="question">Encouragement:</span>
            <br>
            {{$ctrl.reference.form.encouragement}}
        </p>

    </md-card-content> 
</md-card>