

<!--<md-toolbar  layout="row" ng-if="!$ctrl.$state.is('app.school')" 
class="tab-toolbar" style="min-height: 50px ; z-index:40"  md-whiteframe="1">

   <md-button hide-gt-sm 
            class="md-icon-button md-primary no-class " 
            ng-click="$ctrl.openLeftMenu()"
            aria-label="open menu" >
             <i class="fa  fa-bars" style="vertical-align:bottom"></i>
         </md-button>


<md-menu>
      <md-button aria-label="Change School"  ng-click="$mdOpenMenu()">
	{{$ctrl.school.start_date | date:'MMM yyyy'}} &nbsp; {{$ctrl.school.name}}  <i class="fa fa-angle-down"> </i> 
	  </md-button>
      <md-menu-content >
      <md-menu-item >
          <md-button md-nav-sref="school">
				School List
          </md-button>
        </md-menu-item>
        <md-menu-item ng-repeat="sch in $ctrl.school_list | filter:$ctrl.showCurrent| orderBy:'start_date'">
          <md-button ng-click="$ctrl.changeSchool(sch.id)">
				{{sch.start_date | date:'MMM yyyy'}} 	{{sch.name}} 
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>



<span flex></span>


</md-toolbar>-->
<md-content>
<md-nav-bar md-selected-nav-item="$ctrl.current" nav-bar-aria-label="navigation links" class="no-print">
      <md-nav-item  md-nav-sref="school.studentPhotos" name="school.studentPhotos">Students</md-nav-item>
      <md-nav-item  md-nav-sref="school.studentList" name="school.studentList">List</md-nav-item>
      <!--<md-nav-item  md-nav-sref="school.roleCalls" name="school.roleCalls">Role Call</md-nav-item>-->
      <md-nav-item   md-nav-sref="school.staff" name="school.staff">Staff</md-nav-item>
      <!--<md-nav-item md-nav-sref="school.studentTravel"  name=""></md-nav-item>-->
      <!--<md-nav-item  md-nav-sref="school.outreach" ></md-nav-item>-->
      <md-nav-item  md-nav-sref="school.studentAllergies" ></md-nav-item>
      <md-nav-item md-nav-sref="school.stats" name="school.stats" > Stats </md-nav-item>
      <md-nav-item md-nav-sref="school.settings" name="school.settings" > Settings </md-nav-item>



</md-nav-bar>
</md-content>

<ui-view> loading....</ui-view>