<div layout="row" layout-align="center">
  <div flex-gt-sm="50">
  <md-card >
    <md-card-content layout="column">
    
    <md-input-container>
      <label>
    Account Name
      </label>
      <input ng-model="$ctrl.settings.name">
    </md-input-container>
 <md-input-container>
      <label>
       Add Transaction form (For Cash & Checks)
      </label>
      <md-switch ng-model="$ctrl.settings.add_transactions_form">
    </md-input-container>
    <md-input-container>
      <label>
    Hide Transaction ID (sometimes they are supper long)
      </label>
      <md-switch ng-model="$ctrl.settings.hide_txn_id">
    </md-input-container>

    <b>Income Transactions, Keywords to hide</b>
    <div ng-repeat="(key,item) in $ctrl.settings.hide_keywords_income" layout="row">
      {{item}}  <span flex></span> <a ng-click="$ctrl.removeKeywordIncome(key)">remove</a>
    </div>
    <form layout="row" ng-submit="$ctrl.newKeywordIncome()">
    <input ng-model="$ctrl.hide_keyword_income">
    </form>

 <b>Expense Transactions, Keywords to hide</b>
    <div ng-repeat="(key,item) in $ctrl.settings.hide_keywords_expense" layout="row">
      {{item}}  <span flex></span> <a ng-click="$ctrl.removeKeywordExpense(key)">remove</a>
    </div>
    <form layout="row" ng-submit="$ctrl.newKeywordExpense()">
    <input ng-model="$ctrl.hide_keyword_expense">
    </form>

    </md-card-content>
  </md-card>
  </div>
</div>
