


<md-nav-bar md-selected-nav-item="$ctrl.current" nav-bar-aria-label="navigation links">
       <md-nav-item ng-repeat="(key,item) in $ctrl.accounts" 
                    md-nav-sref="accounting.accounts.view.income({account_id:'{{key}}'})" 
                    name="accounting.accounts.view_{{key}}"  >
        <!-- <img height="30" ng-src="{{item.logo}}" ng-if="item.logo">  -->
        {{item.settings.name}} 
        <span ng-if="item.balances.unbookedIncomeCount + item.balances.unbookedExpenseCount > 0">
          [{{item.balances.unbookedIncomeCount + item.balances.unbookedExpenseCount}}] </span>

       </md-nav-item>
       

</md-nav-bar>

<ui-view></ui-view>



<!--
<div layout="row" layout-align="center">


<md-card flex-gt-xs="75">
  <md-card-content>


    Bank accounts 
    <a ng-click="$ctrl.linkBtn()" >Link</a>




  </md-card-content>
</md-card>

</div>-->

