<md-card>
<style>

.table {
  width:100%;
}

.table tr{
  border-bottom:solid gray 1px;
}

</style>
<md-card-content>



<table class="table" >

  <tr>
    <th>paypal ID</th>
    <th>Time</th>
    <th>From</th>
    <th>For </th>
    <th>Amount</th>

    <th>QB</th>
    <th>My Tribe</th>
  </tr>

<tr ng-repeat="item in $ctrl.transactions | orderBy:'-timestamp'">
<td>{{item.transaction_id}}</td>
<td>{{item.timestamp | date: 'short'}}</td>
<td>{{item.name}}</td>
<td>{{item.note}}  <br><i style="background-color: lightgreen">{{item.purpose}}</i> </td>
<td align="right">
  <i   ng-if="item.fee < 0  ">  {{item.amount}}{{item.fee}}</i>
    <b>{{item.net_amount}} </b></td>
<td> 
<md-checkbox ng-model="item.in_quickbooks"  ng-change="$ctrl.checkQB(item)" aria-label="in quickbooks" >

</td>
<td> 
<md-checkbox ng-model="item.in_donation"  ng-change="$ctrl.checkDonation(item)" aria-label="in donations" >

</td>




</tr>




</thead>




</table>  


</md-card-content>
</md-card>