
  <md-sidenav class="sidenav"
              md-component-id="left"
              md-is-locked-open="!$ctrl.site.hideSideNav && $mdMedia('gt-sm')" 
            
              >

  <md-content class="sidenav-content">
          
      <div class="sidenav-header"  ng-click="$ctrl.$state.go('apply.dashboard')"  ng-dblclick="$ctrl.$state.go('settings')" >
      <img  aria-label="Logo" ng-src="logos/2/logo200px.png" width="100%" align="center" >
      </div>
  
      <md-divider ></md-divider>               

      <!--Search box-->
      <md-input-container md-no-float class=" md-dark-theme md-block no-md-error " style=" margin:0px; ">
      <md-icon class="fa fa-search" style="margin-left:15px; margin-top:5px "></md-icon>
      <input ng-model="$ctrl.site.searchString"  ng-change="$ctrl.goSearch($ctrl.search_string)" type="text" placeholder="search"   >
      </md-input-container>
 

      <!-- NAVIGATION ITEMS -->
      <div ng-repeat="item in $ctrl.nav" > 
            
            <a class="side-menu-button"  
              ng-click="$ctrl.sideBarNav(item)" 
              ng-class="{'active': item.active}"
              layout="row" >
            <span style="width:25px;">   
            <i class="material-icons">{{item.md_icon}}</i> 
            <i class="{{item.fa_icon}}"></i> 
            </span>
            <span flex >{{item.title}}</span>
            <span ng-if="item.sub_nav"
                  class="fa fa-chevron-down toggle-icon-thing" 
                  ng-class="{'toggled': item.active}"
                  ></span>
            </a>

                  <!-- SUBITEMS -->
                    <div ng-repeat="sub_item in item.sub_nav" class="sub_nav"  ng-if=" item.active" > 
                        <a class="side-menu-button" 
                           layout="row" 
                           ng-click="$ctrl.sideBarNav(sub_item)" 
                           ng-class="{'active': sub_item.active}">
                    <span style="width:25px;">   
                    <i class="material-icons">{{sub_item.md_icon}}</i> 
                    <i class="fa {{sub_item.fa_icon}}"></i> 
                    </span>
                    <span flex>{{sub_item.title}}</span></a>
                    <md-divider ng-if="!$last"></md-divider>
                    </div>

      <md-divider></md-divider>
      </div>
<br><br>
      <a style="padding:10px" href="https://github.com/timtimmytime/ywam-staff-webapp-firebase/issues"> Report bug </a>

 </md-content>

</md-sidenav>
                        
                     