.sidenav
  color red
  height:100%;
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  font-size: 1em;

 

.sidenav-header 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ECEFF1))
    text-align: center

.sidenav-content
    background-color:   #ECEFF1;
    height:100%;


 .side-menu-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 7px 10px;
    text-decoration: none;
    white-space: normal;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;

    }

.side-menu-button:hover{
        background-color: rgba(100,100,100,0.2);
        text-decoration: none;
        color:inherit;
    }

/* a mathod to disable the md-input error spacer*/
.no-md-error .md-errors-spacer{
    display: none;
}
.no-md-error md-autocomplete-wrap md-input-container{
    padding-bottom: 0px !important;
}


.active{
        background-color: rgba(100,100,100,0.2);
        text-decoration: none;
        color:inherit;
    }