<div>
    <div layout="row" layout-align="center">
        <md-card flex="100" flex-gt-xs="50" >
            <md-card-content>
                <fund-edit code="{{$ctrl.code}}"></fund-edit>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-align="center">
        <md-card flex="100" flex-gt-xs="50" >
            <md-card-content>
                <h1 class="md-title">Expense Commitments</h1>
                <md-button ng-click="$ctrl.addCommitment($event,$ctrl.code)" >Add</md-button>
                <div ng-repeat="item in $ctrl.fund.commitments">{{item}}</div>
            </md-card-content> 
        </md-card>
    </div>

    <div layout="row" layout-align="center">
        <md-card flex="100" flex-gt-xs="50" >
            <md-card-content>
                <h1 class="md-title">Subscriptions</h1>

                <div ng-repeat="item in $ctrl.subscriptions">{{item}}</div>
            </md-card-content> 
        </md-card>
    </div>
    
    <div layout="row" layout-align="center">
        <md-card flex="100" flex-gt-xs="50" >
            <md-card-content>
                <h1 class="md-title">Paypal Transactions</h1>
                <div ng-repeat="item in $ctrl.paypal_payments"> {{item}}</div>
            </md-card-content> 
        </md-card>
    </div>
</div>
