
<div layout="row" layout-align="center">

<div flex-gt-xs="90" flex>

<md-card>
  <md-card-content layout-gt-md="row">

<div flex>
 <h1 class="md-headline"> Bills to be paid {{$ctrl.first_unpaid_bill_date |date :'MMMM d'}} - {{$ctrl.end_date |date : 'MMMM d'}}</h1>

<div layout="row">
<div flex="50">Item</div>
<div flex>Due Date</div>
<div flex="10" >Fund </div>
<div flex="15">Amount</div>
</div>  
<div  ng-repeat="(date ,bills) in $ctrl.scheduled_bills" ng-class="{'redbar':date < $ctrl.today}" >
  
 <div ng-repeat="(key,bill) in bills"  ng-if="!bill.compleated">
   <div layout="row"  ng-class="{'overdue':date < $ctrl.today}"> 
      <div flex="50"><md-checkbox style="margin-bottom:2px" ng-click="$ctrl.fulfillCommitment(date, key)" 
                                                            aria-label="checkbox"
                                                            ng-disabled="!$ctrl.site.user_roles.can_edit_accounting" ></md-checkbox>
      <md-menu>
      <a ng-click="$mdMenu.open()">
        {{bill.name}}
      </a>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item ng-repeat="item in [1, 2, 3]">
          <md-button>
            Option {{item}}
          </md-button>
        </md-menu-item>
    </md-menu> 
       
      
      </div>
      <div flex>{{date | date:'MMMM d'}}</div>
      <div flex="15">{{bill.fund_id}}</div>
      <div flex="15" style="text-align:right ;">{{bill.fixed_amount | number:0}} <span ng-if="!bill.fixed_amount">{{bill.low_amount |number:0}} ~ {{bill.high_amount |number:0}}</span> </div>
   </div>
   <md-divider></md-divider>
 </div>
  </div>



</div>

<div style="border-left:2px solid black; margin-left:20px; width:20px;" ></div>


<div flex>
  <h1 class="md-headline"> Bills paid</h1>
 <div layout="row">
<div flex="50">Item</div>
<div flex>Due Date</div>
<div flex="10" >Fund </div>
<div flex="15">Amount</div>
</div>  
<div flex ng-repeat="(date ,bills) in $ctrl.scheduled_bills" >
 <div ng-repeat="(key,bill) in bills"  ng-if="bill.compleated && date >= $ctrl.start_of_month"> 
   <div layout="row"> 
      <md-checkbox style="margin-bottom:2px" ng-click="$ctrl.fulfillCommitment(date, key)" ng-checked="true" aria-label="checkbox" ></md-checkbox>
      <div flex="50">{{bill.name}}</div>
      <div flex>{{date | date:'MMMM d'}}</div>
      <div flex="15">{{bill.fund_id}}</div>
      <div flex="15" style="text-align:right ;">{{bill.fixed_amount |number:0}} <span ng-if="!bill.fixed_amount">{{bill.low_amount |number:0}} ~ {{bill.high_amount |number:0}}</span> </div>
   </div>
   <md-divider></md-divider>   
 </div>
  </div>
</div>

  </md-card-content>
</md-card>


<md-card flex-gt-md="60" flex-offset-gt-md="20" >
  <md-card-content>
 <div layout="row"><div flex >All Bills: </div><div> {{$ctrl.currencySym }} 
  <span style="background: linear-gradient(to right, rgba(0,0,255,0.5) , rgba(255,0,0,0.5));">
  {{$ctrl.total_low | number:0}} ~
   {{$ctrl.total_high | number:0}}
  </span>
  </div>
 </div>
 <md-divider></md-divider>
  <br>
    <div ng-repeat="(fund_id, fund) in $ctrl.funds"  ng-if="fund.balance.current">
      <div layout="row">
      <div flex >{{fund.meta.name}}</div> 
      <div flex style="font-size:80%"> last update {{fund.balance.last_update |  date:'short'}} 
       
        </div> 
      <div flex="15" style="text-align:right"> 
        <a ng-click="$ctrl.editFundBalanceDialog($event,fund_id)" ng-if="$ctrl.site.user_roles.can_edit_accounting"> {{fund.balance.current}}</a>
        <span ng-if="!$ctrl.site.user_roles.can_edit_accounting" > {{fund.balance.current}}</span>
        </div> 
       </div>
<md-divider></md-divider>
     </div>  
    <div layout="row">
      <div flex > 
    All Funds Current Balances: </div>
    <div flex="15" style="text-align:right"> {{$ctrl.total_balances | number:2}} </div>
    </div>
      
      <br>
   <div layout="row">
      <div flex > 
    <b >Estimate After All payments: </b></div>
    <div flex style="text-align:right"> <b> {{$ctrl.currencySym }}  {{$ctrl.total_balances - $ctrl.total_high | number:2}}</b></div>




  </md-card-content>
</md-card>
</div>
</div>