<div layout="row" layout-xs="column" >
    <div flex>
        <div layout="row" layout-align="start center">
            <b translate="184" class="md-subhead">Contact:</b><br>
            <md-icon ng-click="$ctrl.editContactInfoDialog()" style="margin-left:5px; cursor:pointer;" md-svg-icon="img/icons/edit_black.svg"></md-icon>
        </div>
        <div style="border-left: 2px solid #F79568; padding-left:4px">
           
            <b>Email:</b>
            <a href="mailto:{{$ctrl.contact.email}}">{{$ctrl.contact.email}}</a>        
            
            <div ng-if="$ctrl.contact.skype">
                <b>Skype:</b> 
                {{$ctrl.contact.skype}}
            </div>
            <div ng-if="$ctrl.contact.home_phone">
                <b translate="106"> Home Phone</b><b>:</b>
                {{$ctrl.contact.home_phone}}
            </div>
            <div ng-if="$ctrl.contact.mobile_phone">
                <b translate="107">Mobile Phone</b><b>:</b>
                {{$ctrl.contact.mobile_phone}}
            </div>
            <div ng-if="$ctrl.postal.address">
                <b translate="21" >Address</b><b>:</b><br>
                 {{$ctrl.postal.address}}<br> {{$ctrl.postal.city}}<br>
                 {{$ctrl.postal.state}}, 
                    {{$ctrl.postal.zip}}, 
                 {{$ctrl.postal.nation_id}}
            </div>
        </div>
    </div>
    
    <div flex>
        <div layout="row" layout-align="start center">
            <b translate="96" class="md-subhead">Emergency Contact:</b><br>
            <md-icon ng-click="$ctrl.editEmergencyDialog()" style="margin-left:5px; cursor:pointer;" md-svg-icon="img/icons/edit_black.svg"></md-icon>
        </div>
        <div  style="border-left: 2px solid #F16667; padding-left:4px">
            <b>Name:</b>
            {{$ctrl.em_contact.name}} ({{$ctrl.em_contact.relation}})<br>
            <b>Email:</b>
            <a href="mailto:{{$ctrl.em_contact.email}}">{{$ctrl.em_contact.email}}</a><br>

            <div ng-if="$ctrl.em_contact.skype">
                <b>Skype</b>: {{$ctrl.em_contact.skype}}
            </div>
            <b translate="97">Phone</b><b> 1:</b> {{$ctrl.em_contact.phone}}<br>
            <div ng-if="$ctrl.em_contact.phone2">
                <b translate="97">Phone</b><b> 2:</b> {{$ctrl.em_contact.phone2}}
            </div>
            <div ng-if="$ctrl.em_contact.address">
                <b translate="21">Address</b><b>:</b><br>
                {{$ctrl.em_contact.address}}<br>
                {{$ctrl.em_contact.city}}<br>
                {{$ctrl.em_contact.state}},
                 {{$ctrl.em_contact.zip}},
                {{$ctrl.em_contact.nation_id}}
            </div>

        </div>
    </div>
</div>