



<div layout="row" layout-align="center">

<div  flex flex-gt-md="90">

<md-card>
  <md-card-content>
<i class="fa fa-info fa-3x" aria-hidden="true"></i> Location specific notices..<br>
 Permission needed to change things here: <a ui-sref="base.permissions">"can_edit_location_notices"</a>
<br>last update: <span am-time-ago="$ctrl.notices.lastSave" ></span> by: {{$ctrl.lastSaveUser.first_name}} {{$ctrl.lastSaveUser.last_name | limitTo:1}}.
  <md-card-content>
   <a ng-click="notice.edit = !notice.edit"> Edit Text</a><br>

"{{ $ctrl.notices[notice.show][key]}}"


</md-card-content>
</md-card>
<md-card>
  <md-card-content>

<b layout="row">
    <div flex>English </div>
    <div flex>German</div>
</b>

        <br>
Notices Displayed on application when nationality is selected:
<div layout="row">
<md-input-container flex>
  <label>
Need Invitation Letter (EN)
  </label>
<textarea ng-model="$ctrl.notices.EN.need_invitation" ng-change="$ctrl.save()"></textarea>
</md-input-container>
<md-input-container flex>
  <label>
Need Invitation Letter (DE)
  </label>
<textarea ng-model="$ctrl.notices.DE.need_invitation" ng-change="$ctrl.save()"></textarea>
</md-input-container>

</div>



  </md-card-content>
</md-card>

</div>
</div>