
<div  ng-if="!$ctrl.status.recieved">

<div class="ref-status-box" ng-if="$ctrl.status.email.current =='delivered' "  style="background-color:#49afcd"  >sent 
    <span ng-if="$ctrl.date" >on {{$ctrl.status.email.delivered | date}}  </span> 
</div> 
<div class="ref-status-box" ng-if="$ctrl.status.email.current == 'dropped' "  style="background-color:#d9534f" > failed 
    <span ng-if="$ctrl.date" >on {{$ctrl.status.email.dropped | date}}  </span> 
</div>
<div class="ref-status-box" ng-if="$ctrl.status.email.current =='opened' "  style="background-color:#FFCC00"  > opened
    <span ng-if="$ctrl.date" >on {{$ctrl.status.email.opened | date}}  </span>
</div> 
<div class="ref-status-box" ng-if="$ctrl.status.current == 'accessed' "  style="background-color:#FF6600"  > accessed 
    <span ng-if="$ctrl.date" >on {{$ctrl.status.accessed | date}}  </span>
</div> 
<div class="ref-status-box" ng-if="$ctrl.status.current == 'submitted' " style="background-color:#5cb85c"   > submitted 
    <span ng-if="$ctrl.date" >on {{$ctrl.status.submitted | date}}  </span>
</div> 

</div>

<div class="ref-status-box" ng-if="$ctrl.status.recieved" style="background-color:#5cb85c"   > received 
    <span ng-if="$ctrl.date" >on {{$ctrl.status.recieved | date}}  </span>
</div> 


