<div layout="row" layout-align="center">
<md-card flex-gt-sm="75">
<md-card-content>
  <h2>Base Info</h2>
 
 <!--<b>Staff Fee: {{$ctrl.location_public.currencySym}}<span contenteditable ng-model="$ctrl.location_public.staff_fee"></span> <br>
 Mission Builder Fee: {{$ctrl.location_public.currencySym}}{{$ctrl.location_public.mission_builder_fee}}</b> (if longer than 4 weeks)<br>
 <b>Short Term Staff Fee: {{$ctrl.location_public.currencySym}}{{$ctrl.location_public.short_term_staff_fee}}</b> (less than 3 months )
<b>Base housing</b>
<br>
lease-->

<pre>
{{$ctrl.meta | json}}
</pre>

Slack Channels:
<div ng-repeat="item in $ctrl.slack.bot_groups" >

  {{item.id}} {{item.name}} 
</div>

Slack Channels:
<div ng-repeat="item in $ctrl.slack.channels" ng-if="!item.is_archived &&  item.is_member">

  {{item.id}} {{item.name}} 
</div>

</md-card-content>
</md-card>
</div>
