
<div layout="row" layout-align="center" >
  <div flex-gt-sm="70" >
    <md-card >
      <md-card-content>
    <h1  class="md-headline">Welcome to the YWAM Staff App!</h1>


<p style="color:red; border: red solid 2px; padding:20px; font-size:120%">
    NOTICE:<br>
    Site in preview mode till Febuary 20, 2017 <br>
    Check Github for status updates on this project: <br>
    <a href="https://github.com/timtimmytime/ywam-staff-webapp-firebase/milestones">https://github.com/timtimmytime/ywam-staff-webapp-firebase/milestones</a>

</p>
<br>
 <div >
  <b> Step 1: </b><br>
    If you previously had an account at  login.mission-live.com <br>please reset your password <a ui-sref="forgotPassword"> here</a>
       </div> 
      </md-card-content>
    </md-card>
  </div>
</div >
