
<div layout="row" layout-align="center" >
  
    <md-card  flex-gt-sm="70">
      <md-card-content>
    <h1  class="md-headline">Welcome to the YWAM Staff WebApp!</h1>


<p style="color:red; border: red solid 2px; padding:20px; font-size:120%">
    NOTICE:<br>
    Site in preview mode untill: <br>March 20, 2017 <br>
    Check   <a href="https://github.com/timtimmytime/ywam-staff-webapp-firebase/milestones">Github</a>
     for status updates  <br>
  

</p>
<br>
      <div >
  <b> 
    If you previously had an account at  login.mission-live.com you will need to reset your password, and login. </b>
    <br> <md-button ui-sref="forgotPassword" class="md-raised"> reset your password</md-button>
       </div> 




      </md-card-content>
    </md-card>
  


</div >
