.home
  color red


td[ui-sref] {
cursor:pointer
}

.ftable {border-spacing: 2px; margin: auto;}
.ftable td    {padding: 6px;  border: 1px solid gray;}

.works{
   background-color:rgba(0,100,0,0.3);
    }