<div>
    <h1 class="md-title">Fund</h1>
    <h1 style="text-transform: uppercase;">{{ $ctrl.code }}</h1>
    <br>
    
    <div layout="row">    
        <md-checkbox ng-model="$ctrl.form.public"> Public Donation Page?</md-checkbox>
    </div>
    <br>    
    
    <div layout="row">
        <md-input-container flex ng-if="!$ctrl.code">
            <label>code</label>
            <input ng-model="$ctrl.form.code"> 
        </md-input-container>
    </div>
    <div layout="row">   
        <md-input-container flex>
            <label>Type</label>
            <md-select ng-model="$ctrl.form.type">
                <md-option value="staff support">Staff Support</md-option>
                <md-option value="ministry">Ministry</md-option>
                </md-select> 
        </md-input-container>
    </div>
    <div layout="row">   
        <md-input-container flex>
            <label>Name</label>
            <input ng-model="$ctrl.form.name"> 
        </md-input-container>
    </div>
    
    <div layout="row">
        <md-input-container flex>
            <label>Description</label>
            <input ng-model="$ctrl.form.description"> 
        </md-input-container>
    </div>

      

    <div layout="row">
      <span flex></span>
      <md-button ng-click="$ctrl.save()" class="md-primary" > {{$ctrl.code? 'Save':'Add'}}</md-button> 
    </div> 


      <div layout="column" style="background-color: lightblue">
        <md-input-container flex>
            <label>Current Balance</label>
            <input ng-model="$ctrl.balance.current"  ng-change="$ctrl.updateBalance()"> 
        </md-input-container>
        last update: {{$ctrl.balance.last_update| date :'short'}} <br>
        by {{$ctrl.balance.update_by}}
    </div>
</div>