<div>
  <h1>{{ $ctrl.code }}</h1>
<md-input-container ng-if="!$ctrl.code">
  <label>code</label>
  <input ng-model="$ctrl.form.code"> 
</md-input-container>

<md-input-container>
  <label>Name</label>
  <input ng-model="$ctrl.form.name"> 
</md-input-container>

<md-input-container>
  <label>Description</label>
  <input ng-model="$ctrl.form.description"> 
</md-input-container>

<md-checkbox ng-model="$ctrl.form.public"> Public Donation Page?</md-checkbox>


</div>

<div layout="row">
  <span flex></span>
  <md-button ng-click="$ctrl.save()" class="md-primary" > {{$ctrl.code? 'Save':'Add'}}</md-button> 
  </div> 