

<style type="text/css">
	.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.photo{
/*width:120px; */
/*height:300px; */
/*float:left;*/
display:inline-block;
/*margin:5px;*/
}
</style>



<div layout="row" layout-wrap layout-align="center">

<div flex-gt-sm="75" flex-xs="100">

<div layout="row" layout-align="center center" class="no-print" >  
<md-input-container  style=""> 
<input ng-model="$ctrl.search" placeholder="filter">
</md-input-container>

<div  hide-xs style="width:200px; margin-top: 4px;">    

<md-slider   flex min="10" max="100" ng-model="$ctrl.photo_size" aria-label="photo size" >

</div>
{{$ctrl.photo_size}}
<!--<a ng-click="$ctrl.photo_size = 110 " >print size</a>-->
<div flex></div>


 <md-menu>
      <md-button aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <i md-menu-origin class="fa fa-print"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="$ctrl.print('25')" >
          Row of 4 photos
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="$ctrl.print('20')">
            Row of 5 photos
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="$ctrl.print('16.6')">
           Row of 6 photos
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

</div>
<div  >


<div ng-repeat="staff in $ctrl.staff | filter:$ctrl.search"  ui-sref="profile({user_id:staff.id})" 
 style="cursor: pointer; width:{{$ctrl.photo_size}}%;  display:inline-block;  break-before: always;">

<md-card    >  


<img  firebase-src="{{staff.avatar_200}}" width="100%" ng-if="staff.avatar_200" >




<div style="padding:5px">
<div class="ellipsis md-body-2">{{staff.first_name }}</div>
<div class="ellipsis md-body-2">{{staff.last_name}}</div>

<!--<div class="ellipsis md-caption" >{{staff}}</div>-->
</div>
</md-card>


</div>


</div>
</div>

</div>