
<md-menu class="app-status-menu">
<div class="app-status-{{$ctrl.appMeta.status}} app-status-box"  ng-click="$mdOpenMenu()"> 
    
<span ng-if="$ctrl.appMeta.status < 8 ">Started </span>
<span ng-if="$ctrl.appMeta.status == 8">Cancelled </span>
<span ng-if="$ctrl.appMeta.status == 10">Submitted </span>
<span ng-if="$ctrl.appMeta.status == 11">In Review </span>
<span ng-if="$ctrl.appMeta.status == 12">Denied</span>
<span ng-if="$ctrl.appMeta.status == 13">Accepted </span>
<span ng-if="$ctrl.appMeta.status == 30">Arrived </span>
<span ng-if="$ctrl.appMeta.status == 70">Alumni</span>

<span ng-if="$ctrl.date"> (<span am-time-ago="$ctrl.appMeta.statuses[$ctrl.appMeta.status].date"></span> ) </span>
 {{$ctrl.status_by}} 


</div>


 <md-menu-content> 
      <md-menu-item>
            <md-button ng-click="$ctrl.changeStatus(11)" > 
                 <div class="app-status-11 app-status-menu-icon"></div> Set As "In Review"
            </md-button> 
        </md-menu-item> 
        
        <md-menu-item >  
            <md-button ng-click="$ctrl.changeStatus(13)" >
                 <div class="app-status-13 app-status-menu-icon"></div>Accept Application
            </md-button> 
        </md-menu-item>
           <md-menu-item >  
            <md-button ng-click="$ctrl.changeStatus(30)" >
                 <div class="app-status-30 app-status-menu-icon"></div>Mark as Arived
            </md-button> 
        </md-menu-item>
        
        <md-menu-item >
            <md-button ng-click="$ctrl.changeStatus(8)" >
                 <div class="app-status-8 app-status-menu-icon"></div>Cancel Application
            </md-button> 
        </md-menu-item>
        
        <md-menu-item >
            <md-button ng-click="$ctrl.changeStatus(1)" >
                 <div class="app-status-1 app-status-menu-icon"></div>Restart Application
            </md-button> 
        </md-menu-item>  
            
        <md-menu-item > 
            <md-button ng-click="$ctrl.changeStatus(12)" >
                 <div class="app-status-12 app-status-menu-icon"></div> Deny Application
            </md-button> 
        </md-menu-item>
        <md-menu-item > 
            <md-button ng-click="$ctrl.changeStatus(70)" >
                 <div class="app-status-1 app-status-menu-icon"></div> Set as Alumni
            </md-button> 
        </md-menu-item>
 
 </md-menu-content>
</md-menu>