.app-status-1 {background-color: gray;  color:#ffffff;}	
.app-status-8 {background-color: blue;  color:#ffffff;}	
.app-status-10 {background-color: #FFCC00; color:#ffffff; }
.app-status-11 {background-color: #FF6600; color:#ffffff; }
.app-status-12 {color: #fff; background-color: #d9534f; border-color: #d43f3a }
.app-status-13 {color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.app-status-30 {color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.app-status-70 {color: #fff; background-color: #6DCB6D;; border-color: #4cae4c; }

.app-status-box{display:inline-block; padding: 2px 5px; border-radius: 3px}
.app-status-menu-icon {width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 10px;}
