<div layout="row" layout-align="center">
  <div  flex flex-gt-md="90">
<md-card>
  <md-card-content>
    <h1>Staff and Default School Application Questions</h1>
     Permission needed to change things here: <a ui-sref="base.permissions">"can_edit_location_info"</a>

</md-card-content>

     <!--<div layout="row">
        <div flex >Question</div>
        <div flex ></div>
        <div flex ></div>
     </div>-->
  
      <div ng-repeat="(key, question) in $ctrl.questions">
       <div class="table" layout="row"  >
        <div flex  >{{question.label.en}}<br><i>{{question.label.de}}</i></div>
        <div ><md-checkbox ng-model="staff_questions[key]" >Staff App</md-checkbox></div>
        <div ><md-checkbox ng-model="default_school_questions[key]" >New Schools</md-checkbox></div>
       </div>
       <md-divider></md-divider>
      </div>
   


</md-card>
</div>
