

<style type="text/css">
	.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.photo{
/*width:120px; */
/*height:300px; */
float:left;
/*margin:5px;*/
}
</style>



<div layout="row" layout-wrap layout-align="center" >

<div flex-gt-xs="75" flex-xs="100" class="print_width_100">

<div layout="row" layout-align="center center" hide-xs class="no-print" >  
<md-input-container > 
<input ng-model="$ctrl.search" placeholder="filter">
</md-input-container>


<div style=" width:200px; margin-top:1px; ">    

<md-slider flex min="100" max="200" ng-model="$ctrl.photo_size" aria-label="photo size" >

</div>

<div >

<canvas  class="chart chart-line"  style="height:120px"
  chart-data="$ctrl.data" chart-labels="$ctrl.labels" 
  chart-series="$ctrl.series" 
  chart-options="$ctrl.options"
  chart-dataset-override="$ctrl.override">
</canvas>


</div>
<div flex></div>


 <md-menu>
      <md-button aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <i md-menu-origin class="fa fa-print"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="$ctrl.print('letter')" >
           Letter
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="$ctrl.print('A4')">
           A4
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="$ctrl.print('A3')">
           A3
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
</div>
<div class="print-only">

<h1>
{{$ctrl.school.name}} - {{$ctrl.school.start_date| date: 'MMMM, yyyy' }}
</h1>

</div>


<div   >


<div ng-repeat="(index,app) in $ctrl.apps | filter:$ctrl.search | orderBy: 'user.first_name'" class="photo" ui-sref="profile({user_id:app.for.user_id})"  style="cursor: pointer;">

<md-card  style="width:{{$ctrl.photo_size}}px;  
                 height:{{$ctrl.photo_size*1.5}}px;
                 overflow:hidden;
                 page-break-inside: avoid;
                    -webkit-region-break-inside: avoid; 
                    position: relative; " >  
<div style="height:{{$ctrl.photo_size}}px; overflow:hidden; " >

<img firebase-src="{{app.user.avatar_200}}" width="100%" >
<!--{{$ctrl.getAvatar(app.user.avatar_200)}}-->
</div>


<div style="padding:5px; md-body-2">
<div class="ellipsis ">{{app.user.first_name }}</div>
<div class="ellipsis ">{{app.user.last_name}}</div>

<img   style="height:{{$ctrl.photo_size/7}}px" ng-if="app.user.nation_id" ng-src="http://flagpedia.net/data/flags/mini/{{ app.user.nation_id.toLowerCase() }}.png">

<!--<div class="ellipsis md-caption" >{{app.user}}</div>-->
</div>
</md-card>
<!--<div ng-if="index % $ctrl.photosPerPage === 0  &&  index !=0" class="new-page">NEW PAGE {{index % $ctrl.photosPerPage}} INDEX: {{index}}</div>-->

</div>


</div>
</div>

</div>
