
<div ng-show="$ctrl.avatar" layout="row">
<span flex></span>
<md-button ng-click="$ctrl.avatar = false">change photo</md-button>
<!--<img ng-src="{{$ctrl.avatar_200}}" alt="" height="100px">-->

 <img  alt=""
          ng-if="$ctrl.avatar && !$ctrl.processing"
         
           height="100px"
           firebase-src="{{$ctrl.avatar}}"
           >
    

      
</div>
<div ng-hide="$ctrl.avatar || $ctrl.processing">

<md-progress-linear md-mode="{{$ctrl.upload_progress < 10 && $ctrl.upload_progress  ? 'indeterminate': 'determinate'}}" 
value="{{$ctrl.upload_progress}}"></md-progress-linear>

<md-card-content>
Please upload a portrait Photo where your face is clearly visible.

<div class="cropArea" ng-hide="!$ctrl.file_selected"  >
  


<img-crop 
        image="$ctrl.myImage" 
        result-blob="$ctrl.myCroppedImage"
        result-image=""
        area-min-size="200"
        result-image-quality="1"
        result-image-size="1080"
        result-image-format="image/jpeg"
        area-type="square"></img-crop>
   </div>  

<div layout="row">
<span flex> </span>
<span ng-hide="$ctrl.file_selected">
<input class="ng-hide" id="fileInput" multiple type="file" />
<label for="fileInput" class="md-button md-raised md-primary">Choose File</label>
</span>


<md-button ng-hide="!$ctrl.file_selected" 
           ng-click="$ctrl.savePhoto()" class="md-raised btn btn-primary md-primary">Save</md-button>




</div>
</div>

<div layout="row" layout-align="center " ng-if="$ctrl.processing" style="padding: 25px">
   <span flex></span>     
   <md-progress-circular   md-mode="indeterminate"></md-progress-circular>  

</div>


</md-card-content>
</div>
