<div layout layout-align="center center">
  <md-card class ="signUp" >
    <md-card-content>
      Sign Up for a new account
      <br>
        <br>
      <form ng-submit="$ctrl.send()" ng-if="!$ctrl.message" layout="column">
      <md-input-container>
        <label>Email</label>
        <input ng-model="$ctrl.email">
      </md-input-container>
          
    <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="$ctrl.password">
      </md-input-container>
          
          <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="$ctrl.password">
      </md-input-container>
          
    <md-button type="submit">Sign Up</md-button>
      </form>
<h1>
    {{$ctrl.message}}
</h1>
    <login-buttons ng-if="$ctrl.message"></login-buttons>

    <md-card-content>
  </md-card>
</div>
