<div layout="row" layout-align="center" >

  <md-card flex="100" flex-gt-sm="70">
    <md-card-content layout-gt-xs="row">
      
      <div flex ng-hide="$ctrl.stateParams.group_id && $ctrl.isMobile"> 
        <h1 class="md-title">Staff Groups</h1>
      
        <md-list >
          <div ng-repeat="(key,group) in $ctrl.groups" 
               ng-class="{active: $ctrl.stateParams.group_id == key}"
               style="cursor:pointer">
          <div layout="row" layout-align="start center" ui-sref="staffGroups.detail({group_id:key})">  
              <div flex>{{group.name}}</div> <b> > </b>
            </div>  
          
        
          <md-divider ></md-divider>
        </div>

        </md-list>
        <md-button ng-click="$ctrl.newGroupDialog($event)">New Group</md-button>

      </div>
      <div style="border-right:1px gray solid; width:20px; margin-right:20px" 
           hide-xs>

      </div>

      <ui-view flex ng-hide="!$ctrl.stateParams.group_id && $ctrl.isMobile"> </ui-view>
      
      



    </md-card-content>
  </md-card>
 

</div>
