
.btn-google 
  color : #fff !important;
  background-color: #dd381d !important;
  
.btn-facebook
    color : #fff !important;
    background-color: #3b579d !important;

/* a mathod to disable the md-input error spacer*/
.no-md-error .md-errors-spacer{
    display: none;
}

.login-inputs{
margin: 0px 8px 
}

