<div layout layout-align="center center">
  <md-card>
    <md-card-content>
      Reset Password with link sent to email
      <br>
      <form ng-submit="$ctrl.send()" ng-if="!$ctrl.message">
      <md-input-container>
        <label>Email</label>
    <input ng-model="$ctrl.email">
      </md-input-container>
    <md-button type="submit">Send</md-button>
      </form>
<h1>
    {{$ctrl.message}}
</h1>
    <login-buttons ng-if="$ctrl.message"></login-buttons>

    <md-card-content>
  </md-card>
</div>
