<div layout layout-align="center center">
  <md-card>
    <md-card-content>
      Reset Password with link sent to email
      <br>
      <form ng-submit="$ctrl.send()" ng-if="!$ctrl.message">
      <md-input-container>
        <label>Email</label>
    <input ng-model="$ctrl.email">
      </md-input-container>
    <md-button type="submit">Send</md-button>
      </form>

      <b style="color:red" ng-bind="$ctrl.error_message" ></b>
<h1>
  
     {{$ctrl.message}}
    
</h1>

    <!--{{$ctrl.error_key |translate}}-->

    <md-button ng-if="$ctrl.message && !$ctrl.show_login"  ng-click="$ctrl.show_login = true" class="md-primary md-raised">Sign In</md-button>  

    <login-buttons ng-if="$ctrl.show_login"> </login-buttons>

    <md-card-content>
  </md-card>
</div>
