
<div layout="row" layout-align="center"> 

<md-card flex-gt-xs="75">
<md-card-content>
Base Projects: <a> Add Project</a>

<div ng-repeat="(key,item) in $ctrl.projects">
  <h1>{{item.name}} :</h1> 
  <div>
    <b layout="row">
      <div flex >Task </div>
        <div flex layout="row">
          <div flex> Cost Estimate</div>
          <div flex> Fund</div>
          <div flex> Approved by</div>
        </div>  
      <div > Status</div>
      </b>
      <md-divider></md-divider>

  <div ng-repeat="(tKey , task) in item.tasks" class="row-hover" ng-click="$ctrl.editTask($event, item.$id, tKey )" >
    <div layout="row">
    <div flex>{{task.name}}</div>
    <div flex layout="row"  ng-if="task.cost_estimate" >
        <div flex>{{task.cost_estimate}}</div>
        <div flex> {{$ctrl.funds[task.fund_id].name}}</div>
        <div flex > </div>
    </div> 

    <div > {{task.status}}</div>
    </div>
<md-divider></md-divider>

  </div>
  </div>
  <a ng-click="$ctrl.editTask($event, item.$id )" > Add Task / Item</a>
  
  
</div>
</md-card-content>
<md-card>

</div>