
<div layout="row" layout-align="center"> 

<md-card flex="75">
<md-card-content>
Base Projects: <a> Add Project</a>

<div ng-repeat="(key,item) in $ctrl.projects">
  <h1>{{item.name}} :</h1> 
  <div>
    <b layout="row">
      <div flex >Task </div>
      <div flex> Cost</div>
      <div flex> Fund</div>
      <div flex> Approved by</div>
      <div flex> Status</div>
      </b>
      <md-divider></md-divider>

  <div ng-repeat="(tKey , task) in item.tasks" class="row-hover" ng-click="$ctrl.editTask($event, item.$id, tKey )" >
    <div layout="row">
    <div flex>{{task.name}}</div>
    <div flex>{{task.cost}}</div>
    <div flex> {{$ctrl.funds[task.fund_id].name}}</div>
    <div flex> </div>
    <div flex> Status</div>
    </div>
<md-divider></md-divider>

  </div>
  </div>
  <a ng-click="$ctrl.editTask($event, item.$id )" > Add Task / Item</a>
  
  
</div>
</md-card-content>
<md-card>

</div>