<p>
    <span class="question">Health Conditions:</span><br> {{$ctrl.health.conditions}}<br>
</p>
<p md-colors="$ctrl.health.physical_disability?{color:'warn'}:{}">
    <span class="question">Physical Disability:</span><br> {{$ctrl.health.physical_disability? 'Yes' : 'No' }}
    <span ng-show="$ctrl.health.physical_disability">({{$ctrl.health.physical_disabilities}})</span><br>
</p>
<p md-colors="$ctrl.health.on_medication?{color:'warn'}:{}">
    <span class="question">On Medication:</span><br> {{$ctrl.health.on_medication? 'Yes' : 'No' }} 
    <span ng-show="$ctrl.health.on_medication">({{$ctrl.health.medications}})</span><br>
</p>
<p md-colors="$ctrl.health.allergies||$ctrl.health.other_allergies?{color:'warn'}:{}">
    <span class="question">Allergies:</span><br> <span ng-repeat="(key ,item) in $ctrl.health.allergies " ng-if="item"> {{key}}, </span>{{$ctrl.health.other_allergies}}
</p>
<p md-colors="$ctrl.health.dietary_preferences?{color:'warn'}:{}">
    <span class="question">Dietary preferences:</span><br> {{$ctrl.health.dietary_preferences}}<br>
</p>
