<div layout="row" layout-align="center center">
  <md-card>
    <md-card-content>
      <span translate="70">Reset Password with link sent to email</span>
      <br><br>
      <form ng-submit="$ctrl.send()" layout="row" layout-align="space-between start">
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="$ctrl.email">          
        </md-input-container>
       
        <div style="padding-top:8px;">
          <md-button type="submit" translate="67">Send</md-button>
        </div>
      </form>

    <span ng-if="$ctrl.checkEmail" translate="71"></span>
    <md-card-content>
  </md-card>
</div>
