<div layout="row" layout-align="" style=" height: 100%;" >
    
    <div flex-gt-sm="25">
        
        <div  du-scroll-container="scroll-container-1" du-spy-context style="position:fixed; padding:15px;"  hide-xs hide-sm layout="column"  >

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-checked="$ctrl.forms.contact.$valid  && $ctrl.form.address">
                <span translate="10">Contact Information</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-checked="profile_contact.avatar_1080">
                <span translate="100">Photo</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.language">
                <span translate="99">Language</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.questions">
                <span translate="101">Questions</span> 
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.health">
                <span translate="80"> Health info</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.emergency">
                <span translate="96"> Emergency Contact</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.passport">
                <span translate="102"> Passport</span>
            </md-checkbox>

            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="$ctrl.forms.references">
                <span translate="103"> References</span>
            </md-checkbox>

        <!--<img ng-src="{{profile_contact.avatar_1080}}" alt="" width="200px">-->
        </div>
    </div>

    <div flex="100" flex-gt-sm="50" ng-model-options="{  debounce: 500 }">
        
        <md-card>
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div style="height:50px; width:50px; overflow:hidden;border-radius: 50%;">
                        <img firebase-src="{{$ctrl.school.banner_100}}" ng-if="$ctrl.school.banner_100" style="height:100%; position: relative; left: -20px;">
                        <img src="img/default_banner.jpg" ng-if="!$ctrl.school.banner_100" style="height:100%; position: relative; left: -20px; ">
                    </div>
                    <div flex style="padding-left:15px; float:left;">
                        <app-for app-id="$ctrl.app_id" class="md-headline"></app-for> 
                    </div>
                </div>   
                
            </md-card-content>
        </md-card>
        
        <md-card>
            <md-card-content>
                <h1 class="md-title" translate="10">Contact Information:</h1>

                <form name="$ctrl.forms.contact" >
                    <div layout>
                        <md-input-container flex>
                            <label translate="7"></label>
                            <input ng-model="profile_contact.first_name" required  >                            
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                            </div>
                        </md-input-container>  
                        
                        <md-input-container flex>
                            <label translate="8"></label>
                            <input ng-model="profile_contact.last_name" required >
                        </md-input-container>  
                    </div>

                    <div layout="row" layout-wrap layout-align="space-around center">
                        
                        <md-input-container flex flex-gt-xs="30" >
                            <label translate="25"></label>
                            <md-select ng-model="profile_contact.gender" required >
                                <md-option value="male" translate="male"></md-option>
                                <md-option value="female" translate="female" ></md-option>
                            </md-select>  
                        </md-input-container> 

                        <md-input-container  flex>
                            <label translate="28">marital_status </label>
                            <md-select ng-model="profile_contact.marital_status" required >
                                <md-option value="single" translate="single">Single</md-option>
                                <md-option value="engaged" translate="engaged">Engaged</md-option>
                                <md-option value="married" translate="married">Married</md-option>
                                <md-option value="widowed" translate="widowed">Widowed</md-option>
                                <md-option value="divorced" translate="divorced">Divorced</md-option>
                                <md-option value="separated" translate="separated">Separated</md-option>
                            </md-select>  
                        </md-input-container>

                        <md-input-container class="date" flex="100" flex-gt-xs="30" style="min-width:220px;" >
                            <label translate="13"></label>
                            <md-datepicker ng-model="$ctrl.dob"
                                   ng-change="$ctrl.changeDOB()"
                                   required
                                   md-open-on-focus	
                                   md-current-view="year"
                                   md-max-date="$ctrl.maxDate"
                                   md-min-date="$ctrl.minDate"	>
                            </md-datepicker>
                        </md-input-container>              

                    </div>
                    
                    <div layout="row">
                        <md-input-container flex>
                            <label translate="106">home_phone</label>
                            <input required ng-model="profile_contact.home_phone" ng-required="!profile_contact.mobile_phone" >
                        <div class="hint" >+1 555 555 5555 </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="107">mobile_phone</label>
                            <input ng-model="profile_contact.mobile_phone" ng-required="!profile_contact.home_phone" >
                            <div class="hint" >+1 555 555 5555 </div>
                        </md-input-container>
                        <!--Skype: {{emergency_contact.skype}}<br>-->
                    </div>

                </form>

                <postal-address is-valid="$ctrl.forms.address" ></postal-address>
                
 
            </md-card-content>
        </md-card>


        <md-card>
            <md-card-content>
                <user-photo-upload user-id="$ctrl.user_id"></user-photo-upload>
            </md-card-content>
        </md-card>



        <md-card>
            <md-card-content>
                <languages is-valid="$ctrl.forms.language"></languages>
            </md-card-content>
        </md-card> 
        

        <md-card>
          <md-card-content>
              <school-questions ng-if="$ctrl.school_id" school-id="$ctrl.school_id" app-id="$ctrl.app_id" is-valid="$ctrl.forms.questions"></school-questions>
          </md-card-content> 
        </md-card>


        <md-card>
            <md-card-content>
                <health-form is-valid="$ctrl.forms.health"></health-form>
            </md-card-content>
        </md-card> 


        <md-card>
            <md-card-content>
                <emergency-contact is-valid="$ctrl.forms.emergency"></emergency-contact>
            </md-card-content>
        </md-card> 


        <md-card>
            <md-card-content>
                <passport-info-form is-valid="$ctrl.forms.passport"></passport-info-form>
            </md-card-content>
        </md-card> 

        <md-card>
            <md-card-content>
                <ref-request ng-if="$ctrl.app_id" app-id="$ctrl.app_id" is-valid="$ctrl.forms.references"></ref-request>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
              <md-button ng-click="$ctrl.submit()" class="md-raised" translate="105">Submit Applcation</md-button>
            </md-card-content>
        </md-card>
        
        <!--
        <md-card>
          stuff is going here

        School/public
        <pre>{{ $ctrl.school | json }}</pre>

        Application/for/
         <pre>{{app_for | json}}</pre>

         Profile/
         <pre>{{profile | json}}</pre>
        </md-card>-->
    </div>

</div>