<div layout="row" layout-align="center center">
<div  flex-gt-sm="70">
<md-card>
<md-card-content >
 <div >   
    <h1>School Roles
    <md-button ng-click="$ctrl.editStaff()">Add Staff</md-button>
</h1>

<md-list class="md-dense">
    <md-list-item ng-repeat="(key, staff) in $ctrl.staffs" class="md-2-line"
     ng-if="staff.staff"
     ng-click="$ctrl.editStaff(key)">
          <img firebase-src="{{staff.avatar}}" class="md-avatar" alt="{{ staff.first_name }}" />
         <div class="md-list-item-text" layout="column">
            <h3>{{ staff.name }} </h3>
            <!--<h4>{{ staff }}</h4>-->
            <p ng-if="staff.admin">Admin Access</p>
             <p ng-if="staff.staff">School Staff</p>
              <p ng-if="staff.leader">School Leader</p>

        
          </div>
          <md-divider ></md-divider>
    </md-list-item>
</md-list>

 </div>

 <div flex>   
    <h1>Aditional Admins
        
    </h1>
    <small>  can see applications.. etc.</small>

    <!--<md-button ng-click="$ctrl.addStaff('admin')">Add Admin</md-button>-->

<md-list class="md-dense">
    <md-list-item ng-repeat="(key, staff) in $ctrl.staffs"
                  class="md-2-line" 
                  ng-if="staff.admin && ! staff.staff">
          <img firebase-src="{{staff.avatar}}" class="md-avatar" alt="{{ staff.first_name }}" />
         <div class="md-list-item-text" layout="column">
            <h3>{{ staff.name }}   </h3>
           <p ng-if="staff.admin">Admin Access</p>
             <p ng-if="staff.staff">School Staff</p>
              <p ng-if="staff.leader">School Leader</p>
           
          </div>
          <md-divider ></md-divider>
    </md-list-item>
</md-list>

 </div>

</md-card-content>
</md-card>
</div>
</div>