<div layout="row" layout-align="center" layout-wrap>

    <md-card  flex="100" flex-gt-xs="70">
        <md-card-content>

            <div  layout="row" >  
                <div flex>

                    <h1 class="md-display-1">{{$ctrl.contact.first_name}} {{$ctrl.contact.last_name}}                
                        <br>
                        <small class="md-subhead">{{$ctrl.passport.first_name | uppercase}} {{$ctrl.passport.middle_name | uppercase}} {{$ctrl.passport.last_name | uppercase}}
                        </small>
                    </h1>

                    
                    <br>
                     
                    <span style=" text-transform: capitalize;">{{$ctrl.contact.gender | translate}} {{$ctrl.calculateAge($ctrl.contact.dob)}}  {{$ctrl.contact.marital_status | translate}}</span>
                    
                    <span></span>
                    <br>
                    {{$ctrl.contact.dob | date}}  
                    <br>
                    <div ng-repeat="lang in $ctrl.languages">
                        {{lang.text}}
                        <span style="color:gray">
                            <span ng-if="lang.text !='English'" > ({{lang.en_text}}) </span>
                            {{lang.prof}}% 
                        </span>                 
                    </div>

                    <br>
                    <div layout="row" layout-align="start center">
                    <img style=" padding-right:5px;" ng-if="$ctrl.passport.nation_id" ng-src="http://flagpedia.net/data/flags/mini/{{ $ctrl.passport.nation_id.toLowerCase() }}.png">
                    {{$ctrl.nationality}}
                    </div>
                </div>
                <div flex >
                    <div class="profilePhoto" style="float:right; text-align:center; max-height:300px;   max-width:240px;" ui-sref="changeUserPhoto({user_id:$ctrl.user_id})">
                        <img ng-if="$ctrl.contact.avatar_200" style="width:100%; height:100%"align="right" firebase-src="{{$ctrl.contact.avatar_1080}}" >
                      
                        <img ng-if="!$ctrl.contact.avatar_200" style="width:100%; height:100%" align="right"  src="img/default_avatar.png" >
                        
                        <div class="editButton" layout="row" layout-align="center center" >                           
                            <md-icon flex md-svg-icon="img/icons/edit_white.svg"></md-icon>   
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>    
  
    <md-card flex="100" flex-gt-xs="70" ng-if="$ctrl.site.user_roles.contact_management">
        <md-card-content>
            <contact-management-card user-id="$ctrl.user_id" >{{$ctrl.user_id}}</contact-management-card>
        </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-xs="70">
        <md-card-content>
        <h1 class="md-title" translate="10">Contact Information</h1>
            <div>
                <contact-info user-id="$ctrl.user_id" >{{$ctrl.user_id}}</contact-info>
            </div>           

        </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-xs="70">
        <md-card-content>
            <!-- title inside component-->
            <passport-info user-id="$ctrl.user_id"></passport-info>       
        </md-card-content>
    </md-card>


    <md-card flex="100" flex-gt-xs="70">
        <md-card-content>
            <h1 class="md-title" translate="116">Applications</h1>
    <user-applications-list user-id="$ctrl.user_id" ng-if="$ctrl.user_id"  flex="100" flex-gt-xs="70"></user-applications-list>   
      </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-xs="70"  ng-if="$ctrl.site.firebaseUser.uid == $ctrl.user_id">
        <md-card-content>
           Connected Accounts: 
           
            <div ng-repeat="item in $ctrl.site.firebaseUser.providerData "  ng-if="item.providerId!= 'password'" >
                {{item.providerId}}
                 <a ng-click="$ctrl.unlinkProvider(item)">Unlink Provider</a>
                </div> 
           
        </md-card-content>
    </md-card>



</div>


