.profile
  color red
.photo:hover .editButton
{
opacity:1;
}

.editButton
{
  opacity:0;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  cursor:pointer;
  
}

.profilePhoto{
  position:relative;
  border-radius: 50%;
  overflow:hidden;
}
