
//@import url(https://fonts.googleapis.com/css?family=Roboto)

$primaryColor = #0277bd
$accentColor = #1de9b6
$bgColor = #efefef
$darkBgColor = #263238
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121

html, body 
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height 100%;
  line-height: 1.42857143;
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  //font 62.5% 'Roboto', sans-serif
  font-size 14px
 
 
 .print-only{
        display: none;
    }

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}  

@page {
    margin: 1pt;
}

@media print
{    
    body {
      background: white; 
	    font-size: 8pt; 
       width: 100%;
       
      }
    .md-display-1 {
    font-size: 18pt  !important;
    line-height: 20pt !important;
    }
    md-card {
    box-shadow: none !important;
    border: 1px gray solid !important;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }

    .print-only{
            display: block;
   }
   .new-page{
   page-break-after: always;
   position: relative;
   }

   .print_width_100{
       max-width:100% !important;
   }


}