<md-dialog aria-label="List dialog">
  <md-dialog-content>

       <div class="md-dialog-content">

      
         
    <md-autocomplete md-selected-item="selectedItem" 
                     md-search-text="searchText" 
                     md-items="item in getMatches(searchText)" md-item-text="item.first_name +' '+item.last_name "
                      placeholder="Add Staff Member">
        <span md-highlight-text="searchText">{{item.first_name}} {{item.last_name}}</span>
    </md-autocomplete>

    
  
       </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="addStaff()" class="md-primary">Add {{type}}</md-button>
  </md-dialog-actions>
</md-dialog>