<div layout="row" layout-align="center center">
<div  flex-gt-sm="70">
<md-card>
<md-card-content l>
 <div >   
    <h1>School Staff</h1>
    <md-button ng-click="$ctrl.addStaff('staff')">Add Staff</md-button>

<md-list class="md-dense">
    <md-list-item ng-repeat="(key, staff) in $ctrl.staffs" class="md-2-line">
          <img ng-src="{{$ctrl.avatars[key]}}" class="md-avatar" alt="{{ staff.first_name }}" />
         <div class="md-list-item-text" layout="column">
            <h3>{{ staff.first_name }} {{ staff.last_name }}</h3>
            <!--<h4>{{ item.what }}</h4>-->
            <p ng-if="$ctrl.admins[key]">Admin Access</p>

            <i class="fa fa-trash" ng-click="$ctrl.remove('staff', key)"></i>
          </div>
          <md-divider ></md-divider>
    </md-list-item>
</md-list>

 </div>

 <div flex>   
    <h1>Aditional Admins
        
    </h1>
    <small>  can see applications.. etc.</small>
   
    <md-button ng-click="$ctrl.addStaff('admin')">Add Admin</md-button>

<md-list class="md-dense">
    <md-list-item ng-repeat="(key, staff) in $ctrl.admins"
                  class="md-2-line" 
                  ng-if="!$ctrl.staffs[key]">
          <img ng-src="{{$ctrl.avatars[key]}}" class="md-avatar" alt="{{ staff.first_name }}" />
         <div class="md-list-item-text" layout="column">
            <h3>{{ staff.first_name }} {{ staff.last_name }}</h3>
            <!--<h4>{{ item.what }}</h4>-->
            <!--<p>roles:</p>-->
              <i class="fa fa-trash" ng-click="$ctrl.remove('admin', key)"></i>
          </div>
          <md-divider ></md-divider>
    </md-list-item>
</md-list>

 </div>

</md-card-content>
</md-card>
</div>
</div>