
<div layout="row" layout-align="center">


<md-card flex-gt-xs="75">
  <md-card-content>
    <div layout="row">
      <span flex class="md-title">Funds:
         <small class="md-caption">(Projects, Classes, Designations)</small>
        </span>  <md-button ng-click="$ctrl.addbtn($event)">Add</md-button>
     
    </div>
<div layout="row" >
  <b flex="10">Code</b>
  <b flex="15">Type</b>
  <b flex>Name</b>
  <b flex>Donation Link</b>
</div>
<md-divider></md-divider>

<div ng-repeat="(key,item) in $ctrl.funds">
 <div layout="row">
  <div flex="10"> {{key}}</div>
  <div flex="15"> {{item.meta.type}}</div>
   <div flex ><a ui-sref="accounting.fund({code:key})"> {{item.meta.name}}</a> </div>
   <div flex> <a href="{{$ctrl.base_url}}/support/{{key}}"  target="_blank" ng-if="item.meta.public">{{$ctrl.base_url}}/support/{{key}}</a>
              <span ng-if="!item.meta.public"> Disabled</span></div>
 </div>
  <md-divider></md-divider>
</div>
  </md-card-content>
</md-card>

</div>