

<style type="text/css">
	.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.photo{
/*width:120px; */
/*height:300px; */
float:left;
/*margin:5px;*/
}
</style>



<div layout="row" layout-wrap layout-align="center" >

<div flex-gt-xs="75">

<div layout="row" layout-align="center center" >  
<md-input-container > 
<input ng-model="$ctrl.search" placeholder="filter">
</md-input-container>


<div style=" width:200px; margin-top:1px; ">    

<md-slider flex min="100" max="200" ng-model="$ctrl.photo_size" aria-label="photo size" >

</div>

<div hide-xs>

<canvas  class="chart chart-line"  style="height:75px"
  chart-data="$ctrl.data" chart-labels="$ctrl.labels" 
  chart-series="$ctrl.series" 
  chart-options="$ctrl.options"
  chart-dataset-override="$ctrl.override">
</canvas>


</div>
<div flex></div>
</div>
<!--
 <md-menu>
      <md-button aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <i md-menu-origin class="fa fa-print"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="print('letter')" >
         Print Selected Photos (Letter) 
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="print('A4')">
         Print Selected Photos (A4) 
          </md-button>
        </md-menu-item>
         <md-menu-item>
          <md-button  ng-click="print('A3')">
         Print Selected Photos (A3) 
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>-->


<div   >


<div ng-repeat="app in $ctrl.apps | filter:$ctrl.search" class="photo" ui-sref="profile({user_id:app.for.user_id})"  style="cursor: pointer;">

<md-card  style="width:{{$ctrl.photo_size}}px;" >  
<div style="height:{{$ctrl.photo_size}}px; overflow:hidden; " >

<img ng-src="{{app.user.avatar_200}}" width="100%" >

</div>


<div style="padding:5px">
<div class="ellipsis md-body-2">{{app.user.first_name }}</div>
<div class="ellipsis md-body-2">{{app.user.last_name}}</div>

<!--<div class="ellipsis md-caption" >{{app.user}}</div>-->
</div>
</md-card>


</div>


</div>
</div>

</div>