<div layout="row" layout-wrap >

<div flex  flex-offset-gt-md="10" flex-gt-md="80">




<md-card >
 <md-card-content>

    <app-statuses-selector statuses="$ctrl.statuses" school-id="$ctrl.school_id"></app-statuses-selector>
<div layout="row" layout-align="start center">

     <!--<h1 class="md-title" flex >
    <span  ng-hide="$ctrl.selected.length">Students</span> 
    <span ng-show="$ctrl.selected.length">{{$ctrl.selected.length}}  selected</span>
     </h1>-->

     <md-input-container class="no-md-error" style="margin-right:15px">
       <label>Filter List</label>
        <input ng-model="$ctrl.searchText">
      </md-input-container>
      <span flex-gt-xs ></span>
 
</div>
 </md-card-content>
<!--{{$ctrl.apps}}-->
  <md-table-container>
  <table md-table md-row-select multiple ng-model="$ctrl.selected"  md-progress="$ctrl.loading_promise">
    <thead md-head md-order="$ctrl.query.order">
       <tr md-row>
      <!-- when the user clicks this cell, the myOrder variable will get the value 'nameToLower' -->
      <th md-column md-order-by="user.first_name">First Name</th>
      <th md-column md-order-by="user.last_name">Last</th>
      <th md-column md-order-by="user.nationality">Nationality</th>
      <!-- the variable myOrder will not be changed when this cell is clicked -->
      <th md-column md-order-by="meta.status">Status</th>
       </tr>
    </thead>

    <tbody md-body>
      <!-- we can let ng-repeat sort the columns for us -->
      <tr  md-row md-select="app" md-select-id="app.id" ng-repeat="app in $ctrl.apps | orderBy: $ctrl.query.order | filter:$ctrl.filterList | filter:$ctrl.searchText "
          ui-sref="school.application({app_id: app.id})" style="cursor:pointer">
        <td md-cell>{{app.user.first_name}}   </td> 
        <td md-cell>{{app.user.last_name}}</td> 
      <td md-cell>{{app.user.nationality}}</td> 
        <td md-cell> <app-status app-id="app.id" ></app-status></td>
 
      </tr>
    </tbody>
  </table>
</md-table-container>


</md-card>


<md-card>
  <md-card-content>
    <span class="md-title">
    {{$ctrl.selected.length}} Selected 
    </span>
    (<span ng-repeat="item in $ctrl.selected">{{item.user.first_name}}{{!$last?',':''}} </span>)
   <br>
   <div  ng-show="$ctrl.selected.length"> 
    <div  ng-repeat="(key,item) in $ctrl.statuses">
        <a ng-click="$ctrl.setStatusSelected(key)"> set as {{item.text}}</a>
    </div>
   </div>
  </md-card-content>
</md-card>
</div>
</div>

