
.in_dev{
  border: red solid 1px;
}
.in_dev:before{
  color: red;
  content: 'Section in development / (may not be fully working) '
}
.page-index a
    cursor:pointer
    width:100%
    

.page-index a:hover{
color: #106CC8;
 text-decoration: underline;
}
.page-index a.active {
          font-weight:bold
          } 